/* This css file is included by being imported in index.js */

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    width: 100%
}

h1 {
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-size: 36px;
}

h2 {
    font-size: 20px;
}

table {
    margin: auto;
    left: auto;
    right: auto;
    border: 1px solid grey;
    font-size: 9px;
}

td {
    width: 130px;
    text-align: right;
}

th {
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: black;
    font-weight: 300;
}

td:nth-child(1) {
    text-align: center;
    font-size:12px;
}

.table-hover tbody tr:hover td{
  background-color: #8dc2f0;
}

address{
  margin-top:40px;
}
